<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main>
      <nav>
        <p>Sort by</p>
        <a href="/" <% if (sort === 'pokedex') { %> class="active"<% } %>>Pokédex</a>
        <a href="/by-name" data-fave-base <% if (sort === 'name') { %> class="active"<% } %>>A-Z</a>
      </nav>
      <div class="pokemon-list">
        <% for (const poke of pokemon) { %>
        <article<% if (poke.types.length > 0) { %> class="<%= poke.types[0] %>"<% } %> data-pokedex="<%= poke.pokedex %>">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= poke.pokedex %>.png" alt="<%= poke.name %>" />
          <p class="pokedex">#<%= poke.pokedex.toString().padStart(3, '0') %></p>
          <h2><%= poke.name %></h2>
          <ul class="types">
            <% for (const type of poke.types) { %>
            <li>
              <img src="/types/<%= type %>.svg" alt="<%= type %> type Pokémon" />
            </li>
            <% } %>
          </ul>
        </article>
        <% } %>
      </div>
    </main>
    <%- include('partials/js') %>
  </body>
</html>